<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">imagen</th>
    </tr>
  </thead>

  
  <tbody>
      {{#each productos}}
    <tr >
      <td>{{this.name}}</td>
      <td>{{this.precio}}</td>
      <td>{{this.imagen}}</td>
    </tr>
     {{/each}}
  </tbody>
  
</table>